# Как писать код в ноутбуке

Разберем как писать код в ноутбуке (да и в python в целом), как писать комментарии.

Как импортировать библиотеки, код работает сверху вниз, отступы вместо скобок, в питоне всё - объекты.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [2]:
print("Hello world!")

Hello world!

In [3]:
# this script do something beautiful
print("      *")
print("     / \\")
print("    /   \\")
print("   /     \\")
print("  /_______\\")
print("     |||")
print("     |||")

      *
     / \
    /   \
   /     \
  /_______\
     |||
     |||

In [4]:
print("some text")

some text

In [5]:
# print("some text")
# raise ValueError("error here")

In [6]:
"""
print("some text")
"""

'\nprint("some text")\n'

In [7]:
# display VS print
display("""print("some text"))""")

print("""print("some text")""")

'print("some text"))'

print("some text")

In [8]:
# notebook "помнит" ваше переменные
a = 3

In [9]:
# в последующих ячейках она все еще существует
a

3

In [10]:
# хочу подать что-то на вход
val = input()

print(f"Input: {val}")

 123

Input: 123

# Типы данных: часть I

Скалярные данные(с одним значением): int, float, bool, str.

In [11]:
# int
i = 3
type(i)

int

In [12]:
# float
f = 3.14
type(f)

float

In [13]:
# float problem
# bad case
i = 0.1
for _ in range(100):
    i += 0.1
print(i)

# better
print(0.1 + 0.1*100)

10.09999999999998
10.1

In [14]:
# bool
b = True
type(b)

bool

In [15]:
# bool: логические операции
t = True
f = False

print(t and f) # оба значения True
print(t or f) # одно из значений True
print(t & f, t & t) # & == and
print(t | f, f | f) # | == or
print(not t, not f)

False
True
False True
True False
False True

In [16]:
# str
s1 = "some text"
s2 = 'some text'
print(s1 == s2)
type(s1)

True

str

In [17]:
# NoneType
n = None
type(n)

NoneType

In [18]:
# перезаписывание переменных
a = 3
print(a)
print(id(a), end="\n\n")

a = "some text"
print(a)
print(id(a))

3
2727595082032

some text
2727671919152

In [19]:
# как лучше называть переменную
name = "Maksim" # better use name
print(name)

my_variable_not_informative_and_its_name_extremely_long_sorry_for_that = 42
print(my_variable_not_informative_and_its_name_extremely_long_sorry_for_that)

a_b = 123

Maksim
42

In [20]:
# интроспекция
s = "my text"
s?

Type:        str
String form: my text
Length:      7
Docstring:
str(object='') -> str
str(bytes_or_buffer[, encoding[, errors]]) -> str

Create a new string object from the given object. If encoding or
errors is specified, then the object must expose a data buffer
that will be decoded using the given encoding and error handler.
Otherwise, returns the result of object.__str__() (if defined)
or repr(object).
encoding defaults to sys.getdefaultencoding().
errors defaults to 'strict'.

In [21]:
# аттрибуты
s = "my text"
dir(s)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# Простые операции

In [22]:
# простые операции
a = 3
b = 2.5

print("+", a + b)
print("-", a - b)
print("*", a * b)
print("/", a / b)
print("//", a // b)
print("%", a % b)
print("**", a ** b)

+ 5.5
- 0.5
* 7.5
/ 1.2
// 1.0
% 0.5
** 15.588457268119896

In [23]:
# сводится к float
print(a + b*2)
print(type(a + b*2))

print(type(3 + 6))

8.0
<class 'float'>
<class 'int'>

In [24]:
# еще операции
a = 5
b = 2.5

print("==", a==b)
print("!=", a!=b)
print("<", a < b)
print(">", a > b)
print("<=", a <= b)
print(">=", a >= b)

== False
!= True
< False
> True
<= False
>= True

In [25]:
# простые статистики
print("min", min(5, 3))
print("max", max(5, 3))
print("abs", abs(-3))
print("pow", pow(3, 2))
print("round", round(3.123456789, 4))

min 3
max 5
abs 3
pow 9
round 3.1235

In [26]:
# is & is not
a = 3
b = 3
print(a is b)
print(id(a), id(b))
print()

a = 3
b = 3.0
print(a is b)
print(a is not b)
print(id(a), id(b))

True
2727595082032 2727595082032

False
True
2727595082032 2727670699728

In [27]:
# как сочетаются переменные
a = 5
b = 2.5
print(a + b)

# print(a + "123")
print(type("123" + "456"))

7.5
<class 'str'>

In [28]:
# строки можно складывать и умножать
s1 = "123"
s2 = "abc"
print(s1 + s2)
print(s1 * 3)

123abc
123123123

## Условные(тернарные) операторы

In [29]:
# if else elif
a = 5
b = 3.5

# using if else
if a == b:
    print("a equal b")
else:
    # pass
    print("a not equal b")

a not equal b

In [30]:
# using if elif else
a = 3
b = 8

if a == b:
    print("a equal b")
elif a < b:
    print("a less than b")
elif a > b:
    print("a more than b")
else:
    print("well, what else????")

a less than b

In [31]:
# го под капот
a = 3
b = 2

print(a.__eq__(b))
print()

# а если b - float
a = 3
b = 3.0
print(a.__eq__(b))
print(b.__eq__(a))

False

NotImplemented
True

In [32]:
# иногда можно в одну строчку
x = 3
result = "positive" if x > 0 else "non-positive"
print(result)

positive

In [33]:
# match (from python>=3.10)
value = 3
match value:
    case 1:
        print("Value is 1")
    case 2:
        print("Value is 2")
    case _:
        print("Value is something else")

Value is something else

In [34]:
# check data type
data = "str"
match data:
    case str(s):
        print("Got a string:", s)
    case int(n):
        print("Got an integer:", n)
    case _:
        print("Got something else")

Got a string: str

In [35]:
# combine match and if else statements
grade = 100
match grade:
    case x if x >= 90:
        print("Excellent!")
    case x if 80 <= x < 90:
        print("Good job!")
    case x if 70 <= x < 80:
        print("Fair enough.")
    case _:
        print("You need to work harder.")

Excellent!

## Задачки

1. Расчет площади прямоугольника - написать программу, которая принимает на вход длину и ширину прямоугольника и выводит его площадь. Вход должен подаваться через input().

2. Расчет среднего двух чисел - написать программу, которая принимает на вход два числа и считает их среднее.

3. Калькулятор - принимаем на вход два числа и операцию, если операция валидна (+, -, \*, /) - выводит ответ, иначе пишет что не может посчитать.

In [36]:
# пример решения первой задачки
length = float(input())
width = float(input())
print(f"Площадь прямоугольника: {width*length}")

 2
 3

Площадь прямоугольника: 6.0

# Типы данных: часть II

### List & Tuple

In [37]:
from copy import copy, deepcopy

In [38]:
# list & tuple
l = [1,2,3,4,5]
t = (1,2,3,4,5)

print(l)
print(t)
print(len(l))
print(len(t))

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
5
5

In [39]:
# как обращаться к значениям
print(l[0])
print(l[-1])
print(l[0:2])
print(l[:2])
print(l[2:])
print(l[::2])
print(l[-1::-2])

1
5
[1, 2]
[1, 2]
[3, 4, 5]
[1, 3, 5]
[5, 3, 1]

In [40]:
# у строки тоже есть слайсы
s = "my text"
print(len(s))
print(s[3:] + " " + s[:2])

7
text my

In [41]:
# list - изменяемый
print(l)
l[1] = 42
print(l)

[1, 2, 3, 4, 5]
[1, 42, 3, 4, 5]

In [42]:
# tuple - нет
print(t)
t[1] = 42
print(t)

(1, 2, 3, 4, 5)

TypeError: 'tuple' object does not support item assignment

In [43]:
# tuple все еще тот же
print(t)

(1, 2, 3, 4, 5)

In [44]:
# типо баг
t = ([1,2,3], 4, 5)
print(t)

t[0] = [3,2,1]

([1, 2, 3], 4, 5)

TypeError: 'tuple' object does not support item assignment

In [45]:
# а если вот так
t[0][1] = 42
print(t)

([1, 42, 3], 4, 5)

In [46]:
# "ловушка" с присвоением
l = [1,2,3,4,5]
l2 = l
print(l)
print(l2)
print()

l2[1] = 42
print(l)
print(l2)
print()

l[2] = 14
print(l)
print(l2)
print()

print(id(l))
print(id(l2))

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

[1, 42, 3, 4, 5]
[1, 42, 3, 4, 5]

[1, 42, 14, 4, 5]
[1, 42, 14, 4, 5]

2727693485184
2727693485184

In [47]:
# как работает под капотом: id(list)
a = [1,2,3]
print(id(a))

b = a
print(id(b))

c = copy(a)
print(id(c))

d = deepcopy(a)
print(id(d))

2727693497600
2727693497600
2727693484480
2727693470272

In [48]:
# как работает под капотом: id(tuple)
a = (1,2,3)
print(id(a))

b = a
print(id(b))

c = copy(a)
print(id(c))

d = deepcopy(a)
print(id(d))

2727693776384
2727693776384
2727693776384
2727693776384

In [49]:
# copy vs deepcopy
a = [[1,2,3], [4,5,6]]
b = copy(a)
b[0][1] = 42
print(a)
print(b)
print()

a = [[1,2,3], [4,5,6]]
b = deepcopy(a)
b[0][1] = 42
print(a)
print(b)
print()

[[1, 42, 3], [4, 5, 6]]
[[1, 42, 3], [4, 5, 6]]

[[1, 2, 3], [4, 5, 6]]
[[1, 42, 3], [4, 5, 6]]

In [50]:
# всякие операции
l = [1,2,3,4,5]

print(sum(l))
print(max(l))
print(min(l))
print()

# сложение списков
a = [1,2,3]
b = [4,5,6]
print(a+b)
print(a+(4,5,6))

15
5
1

[1, 2, 3, 4, 5, 6]

TypeError: can only concatenate list (not "tuple") to list

### Опять задачки

1. Дана одна строка - найти является ли она палиндромом (читается одинаково слева направо и справа налево)
2. Напишите программу, принимающую на вход целое число, которая выводит True, если переданное значение попадает в интервал: 
$$
(−15,12]\cup(14,17)∪[19,+∞)
$$
3. Даны два списка из двух элементов, проверить что они содержат одинаковые элементы

In [51]:
# для второй задачи входные данные напишите сами
a = [1,2]
b = [2,1]
print(True)

a = [1,1]
b = [2,1]
print(False)

True
False